.header {
    width: 100%;
    height: auto;
    font-family: 'Charm';
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #EEEDE7;
    border-bottom: 0.5px solid #C0C0C0;
    box-shadow: 0 8px 12px#868B8E;

    &__content {
        text-align: center;
        margin: 30px auto;
    }
}